@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  @font-face {
    font-family: "Kumbh Sans";
    font-display: swap;
    font-weight: 100 900;
    src: url("/fonts/Kumbh_Sans/KumbhSans-VariableFont_YOPQ,wght.ttf")
      format("truetype");
  }
  h1 {
    @apply font-bold text-xl;
  }
  h2 {
    @apply font-bold text-lg;
  }
  h3 {
    @apply font-bold text-sm;
  }
  p {
    @apply text-base text-gray;
  }
}
